#app {
    overflow: hidden;
}
.modau{
    display: flex;
    border-bottom: 2px solid #084b48;
    align-items: center;
}

.modau-1{
    padding: 10px;
    padding-left: 0;
    text-shadow: -4px -4px 3px ;
    font-size: 50px;
    color: #084b48;
    flex: 1;
}

.modau-2{
   display: flex;
   color: #084b48;
   font-size: large;
   padding-top: 20px;
   text-align: right;
   padding-bottom: 20px;
}

.hotline{
    padding: 5px;
}

.p-a{
    font-size: small;
}

.p-a a:hover {
    color: #C3412E;
}

.modau-2 a{
    text-decoration: none;
    color: #084b48;
    font-size: 12px;
    text-transform: uppercase;
    color: #AAA;
}

.cach {
    margin-right: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cach a {
    text-decoration: none;
}

.cach a:hover {
    color: #C3412E;
}

.cach i {
    font-size: 14px;
}

.search {
    flex: 1;
}

.icon-search{
    position: relative;
    left: -6px;
    width: 50px;
    height: 36px;
    border: 2px solid #084b48 ;
    background-color: #084b48;
    cursor: pointer;
}

.tenshop {
    flex: 2;
    text-align: center;
}

.giohang {
    flex: 1;
}

.tenshop img{
    width: 200px;
    height: 150px;
    
}

.bor{
    border: 2px solid #084b48 ;
    width: 160px;
    height: 30px;
    padding: 0 20px;
    height: 36px;
    outline: none;
}

.mid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.giohang{
    color: #084b48;
    text-align: right;
    cursor: pointer;
}

.giohang a{
    text-decoration: none;
    color: #084b48;
}

.giohang a,
.giohang span {
    font-size: 14px;
    font-weight: 600;
}

.giohang i {
    font-size: 14px;
    margin-right: 6px;
}

/* Nav */
.menu li{
    list-style: none;
    line-height: 50px;
    float: left;
    justify-content: center;
    align-items: center;
    position: relative;
    /* text-indent: 50px;  */
    font-size: larger;
    position: relative;
    cursor: pointer;
}
.menu li > a{
    text-decoration: none;
    color: #084b48;    
}
.menu > li > a {
    /* text-align: center; */
    margin: 0 20px; 

}

.menu li:hover{
    background-color: #084b48;
}
.menu li:hover > a{
    color: aliceblue;
}
.nav-menu{
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bolder;
    height: 90px;
}

.menu-slo{
    gap: 16px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
}
.menu-slo a{
    text-decoration: none;
    color: rgb(218, 201, 179);
}
.menu-trai,
.menu-giua,
.menu-phai{
    border-style: double;
    text-align: center;
    background-color: #084b48;
    padding: 12px 60px;
    width: 360px;
    cursor: pointer;
    text-transform: uppercase;

}