.wrapper{
    height: auto;
    width: 100%;
    background-color: rgb(235, 222, 222);
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* giữua */
.content {
    padding-top: 40px;
}
.page-nd{
    margin-top: 15px;
}

.page-nd h3 {
    font-size: 1.8rem;
}

.page-nd p{
    text-align: justify;
    font-size: large;
    margin-top: 15px;
}
.page-nd .p {
    font-size: 1.3rem;
    margin-bottom: 16px;
    line-height: 1.4;
}
.anh-intro img{
    width: 100%;
    height: 600px;
}
.anh-intro img:hover{
    opacity: 0.5;
}