/* Mobile & Tablet */
@media (max-width:1239px) {
    .modau {
        justify-content: flex-end;
    }
    .modau-1 {
        display: none;
    }
}

/* Tablet */
@media (min-width:1024px) and (max-width:1239px) {
    .bor {
        width: 150px;
    }
    .menu-trai,
    .menu-phai,
    .menu-giua {
        width: 280px;
    }
    .menu-slo {
        gap: 16px;
    }
}

/* Mobile */
@media (max-width:1024px) {
    .search {
        display: none;
    }
    .tenshop {
        text-align: left;
    }
    .tenshop img {
        width: 120px;
        height: unset;
    }
    .menu-slo {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .sp {
        height: auto;
    }
    .sp-1 img,
    .sp-2 img {
        height: unset;
    }
    .chu {
        bottom: 30px;
    }

    .fot-tt {
        flex-direction: column;
        padding-left: 20px;
    }

}