.wrapper{
    overflow: hidden;
    width: 100%;
    background-color: rgb(235, 222, 222);
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.modau{
    display: flex;
    border-bottom: 2px solid #084b48;
    align-items: center;
}

.modau-1{
    padding: 10px;
    padding-left: 0;
    text-shadow: -4px -4px 3px ;
    font-size: 50px;
    color: #084b48;
    flex: 1;
}

.modau-2{
   display: flex;
   color: #084b48;
   font-size: large;
   padding-top: 20px;
   text-align: right;
   padding-bottom: 20px;
}

.hotline{
    padding: 5px;
}

.p-a{
    font-size: small;
}

.p-a a:hover {
    color: #C3412E;
}

.modau-2 a{
    text-decoration: none;
    color: #084b48;
    font-size: 12px;
    text-transform: uppercase;
    color: #AAA;
}

.cach {
    margin-right: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cach a {
    text-decoration: none;
}

.cach a:hover {
    color: #C3412E;
}

.cach i {
    font-size: 14px;
}

.search {
    flex: 1;
}

.icon-search{
    position: relative;
    left: -6px;
    width: 50px;
    height: 36px;
    border: 2px solid #084b48 ;
    background-color: #084b48;
}

.tenshop {
    flex: 2;
    text-align: center;
}

.tenshop img{
    width: 200px;
    height: 150px;
    
}

.bor{
    border: 2px solid #084b48 ;
    width: 160px;
    height: 30px;
    padding: 0 20px;
    height: 36px;
    outline: none;
}

.mid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.giohang{
    flex: 1;
    color: #084b48;
    text-align: right;
    cursor: pointer;
}

.giohang a{
    text-decoration: none;
    color: #084b48;
}

.giohang a,
.giohang span {
    font-size: 14px;
    font-weight: 600;
}

.giohang i {
    font-size: 14px;
    margin-right: 6px;
}

/* Nav */
.menu li{
    list-style: none;
    line-height: 50px;
    float: left;
    justify-content: center;
    align-items: center;
    position: relative;
    /* text-indent: 50px;  */
    font-size: larger;
    position: relative;
    cursor: pointer;
}
.menu li > a{
    text-decoration: none;
    color: #084b48;    
}
.menu > li > a {
    /* text-align: center; */
    margin: 0 20px;

}

.menu li:hover{
    background-color: #084b48;
}
.menu li:hover > a{
    color: aliceblue;
}
.nav-menu{
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bolder;
    height: 90px;
}

.menu-slo{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
}
.menu-slo  a{
    text-decoration: none;
    color: rgb(218, 201, 179);
}
.menu-trai,
.menu-giua,
.menu-phai{
    border-style: double;
    text-align: center;
    background-color: #084b48;
    padding: 12px 60px;
    width: 360px;
    cursor: pointer;
    text-transform: uppercase;

}
.anhGT img{
    width: 100%;
    height: 700px;
}
section{
    margin-top: 30px;
}
aside{
    margin-top: 30px;
}
.gthieu img{
    justify-content: center;
    width: 200px;
}

.gthieu h1 {
    text-align: center;
    margin: 32px 0;
}

.gthieu p{
    text-align: justify;
    text-indent: 1.5em;
    font-size: 1.8rem;
    line-height: 24px;
}
.sp{
    display: flex;
    height: 400px;
}
.sp-1{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right:15px;
    position: relative;
}
.chu {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    height: 40px;
    width: 200px;
    font-size: 1.4rem;
    background-color: none;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #575454;
}
.btn:hover{
    background-color: rgb(17, 17, 87);
}
.btn:hover a {
    color: #fff;
}
.sp-2{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left:15px;
    position: relative;

}
.sp-1 img{
    height:100%;
    width: 100%;
}
.sp-1 img:hover{
    opacity: 0.5;
}
.sp-2 img{
    height:100%;
    width: 100%;
}
.sp-2 img:hover{
    opacity: 0.5;
}

/* footter */

.footer {
    background-color: #084b48;
}
.fot-tt{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-bottom: 2px solid rgb(19, 18, 18);
    font-size: larger;
}

.fot tr {
    display: block;
    padding: 4px 0;
    font-size: 13px;
    color: #CBCBCB;
}

.fot-0 table{
    text-align: left;
    margin: 20px 0;
}
.fot-0 table td{
    color: rgb(129, 119, 119);
}
.fot-1 table{
    text-align: left;
    margin-top: 20px;
}
.fot-2 table{
    text-align: left;
    margin-top: 20px;
}
.fot-3 table{
    text-align: left;
    margin-top: 20px;
}
.fot-tt a{
    text-decoration: none;
    color: rgb(129, 119, 119);
    font-size: small;
}

.fot-slo {
    padding: 10px 0;
}

.fot-slo h3{
    color: #CBCBCB;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.fot-tt a:hover{
    color: #C3412E;
}


